.page {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.containerOfListUsers {
  flex-grow: 1;
}

.listOfUsers {
  border: 1px lightgrey double;
  border-right: 0px;
  border-top: 0px;
  display: flex;
  align-items: flex-start;
}

.changeWindow {
  width: 300px;
  height: 300px;
}

.test {
  width: 300px;
  height: 300px;

}

.textChangeContainer {
  text-align: center;
}

.containerForCreateUsers {
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 20%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.windowOfUser {
  padding-right: 20%;
  padding-top: 3%;
  padding-left: 25%;
  padding-left: 1.5%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.save {
  width: 35%;
}

.delete {
  margin-left: 5%;
  width: 30%;
}

.create {
  width: 35%;
}

.cancel {
  margin-left: 5%;
  width: 35%;
}

.containerButtons {
  margin-top: 8%;
}
