<div class="missing-ingredients-table-container">
  <table mat-table [dataSource]="missingIngredients">
    <caption>Недостающие ингредиенты</caption>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование</th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}}</td>
    </ng-container>
    <ng-container matColumnDef="measure">
      <th mat-header-cell *matHeaderCellDef>Ед.измерения</th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.measure}}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Запас на складе (срок > недели)</th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.amount}}</td>
    </ng-container>
    <ng-container matColumnDef="needAmount">
      <th mat-header-cell *matHeaderCellDef>Должно быть</th>
      <td mat-cell *matCellDef="let ingredient"> {{ingredient.needAmount}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <!--  <mat-paginator showFirstLastButtons [pageSize]='5' [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>-->
</div>

