.page {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.page > * {
  display: flex;
  flex-direction: column;
}

.scrollable{
  overflow-y: auto;
  height: 100%;
}
.addDish {
  margin-left: 15px;
  background-color: rgb(245,245,245);
}
.containerOfStatus {
  display: flex;
  flex-direction: column;
}
.givenOrder {
  background-color: rgb(245,245,245);
  margin-top: 10px;
}
.contentListOfCook {
  display: flex;
  flex-direction: column;
  border: 1px lightgrey double;
  border-right: 0px;
  border-top: 0px;
}
.listOfCook {
  border: 1px lightgrey double;
  border-top: 0px;
  display: flex;
  align-items: flex-start;
}
.headerOfItems {
  text-align: center;
}
