<ng-container [formGroup]="_loginForm">
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login">
    <mat-error *ngIf="_loginForm.controls['login'].invalid">{{getErrorLogin()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input [type]="'password'" matInput formControlName="password">
    <mat-error *ngIf="_loginForm.controls['password'].invalid">{{getErrorPassword()}}</mat-error>
  </mat-form-field>
</ng-container>
<button mat-button color="primary" (click)="handleLoginClick()">Войти</button>
<button mat-button color="primary" (click)="handleLogOutClick()">Выйти</button>

