<div class="page">
  <div class="containerMyOrders">
    <mat-action-list class="listOfMyOrders" *ngFor="let myOrder of listOfMyOrders">
      <div mat-list-item>
        <div class="headerOfItems">
          Номер заказа: {{myOrder.id}} комментарий: {{myOrder.comments}}
        </div>
        <button mat-button (click)="isTake(myOrder)">
          Принять заказ
        </button>
        <button mat-button (click)="isReady(myOrder)">
          Отдать заказ
        </button>
      </div>
    </mat-action-list>
  </div>
</div>
