.page {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page > * {
  display: flex;
  flex-direction: column;
}

.headerOfItems {
  text-align: center;
}

.buttonTakeOrder {
  background-color: rgb(245, 245, 245);

}

.buttonReadyOrder {
  margin-left: 9px;
  background-color: rgb(245, 245, 245);
}

.mat-card-title.mat-card-title {
  width: 299px;

  text-align: center;
}

.titleOrder {
}
