@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
}

body {
  height:  100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin : 0;
}


.full-width {
  width: 100%;
}

.text-left {
  text-align: left;
}
